[Desktop Entry]
Version=1.0
Name=Teams
Comment=Web App
Exec=google-chrome-stable --app="https://teams.microsoft.com/v2/" --class=WebApp-Teams0495 --user-data-dir=/home/robert-emag/.local/share/ice/profiles/Teams0495
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/robert-emag/.local/share/ice/icons/Teams.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Teams0495
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://teams.microsoft.com/v2/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

