[Desktop Entry]
Version=1.0
Name=Youtube Music
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/robert-emag/Downloads/music_yt_favicon_144.png" firefox --class WebApp-YoutubeMusic5584 --profile /home/robert-emag/.local/share/ice/firefox/YoutubeMusic5584 --no-remote "https://music.youtube.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/robert-emag/Downloads/music_yt_favicon_144.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-YoutubeMusic5584
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://music.youtube.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
